#header {
    background-color: lightgrey;
    text-align: center;
    padding-bottom: 10px;    
}
#headerTitle {
    font-size: 60px;
    font-style: bold;
}

#home {
    text-align: center;
    margin-top: 60px;
}
#newDinnerButton {
    margin-top: 60px;
    font-size: 20px;
}
#myDinner {
    margin-left: 40px;
    font-size: 40px;
}
/*  SKA LÄGGAS TILL I style.css  */ 

#mobileHeader {
    background-color: lightgrey;
    text-align: center;
    padding-bottom: 10px;    
}
#mobileHeaderTitle {
    padding-top: 10px;
    font-size: 20px;
    font-style: bold;
}
#peopleSelector{
    margin-left:10px;
}
.row{
    margin: none;;

}

.form-row{
    margin: none;
}

.leftSideContainer{
    height: 100%;
    position: fixed;
    border: solid;
    border-width: 2px;
}

.sideColumnHeader{
    background-color: grey;
}

.sideCost{
    text-align: right;
}

#menuSum{
    text-align: right;
    color: darkred;
}

#selectedDishCost{
    color: darkred;
}

.confirmDinnerButton{
    display: block;
    margin: auto;
    padding: none;
}

.mobileNavBtn{
	float: right;
}

#topBarSumText{
	padding-top:10px;
	color: darkred;

}

.dishDescImage{
    width: 100%;
}

.imgCont{
    display: block;
    padding-bottom: 20px;
    float: left;
}

.dishBtn{
    width: 100%;
    border-radius: 0;
    padding: 5px;

}

.dishDesc{
    padding-bottom: 10px;
}

.dishReci{
    background-color: #ffd684;
}

.dishDescImageCont{
    margin: 0 auto;
    padding: 0;
}

.btn-secondary{
    color: black;
    background-color: #ffb856;
    overflow: hidden;
}

.foodPic{
    width: 100%;
    height: 80%;
}